.product-block {
	box-shadow: 1px 5px 10px #d4d4d4;
	border-radius: 10px;
}
.product-price {
	font-weight: bold;
	color: #8c8c8c;
	font-size: 20px;
}
.product-button {
	position: absolute;
	bottom: 0;
}